.App {
  text-align: center;
}

body{
  background:black;
}

.form-card{
  margin:auto;
  margin-top:100px;
  padding:40px;
  background:#222;
  color:#fff;
}

.form-card input{
  color:#fff;
}

.home {
  padding:40px;
  background:#fff;
  color:black;
}